@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.blue-button {
    background-color: white !important;
    color: black !important;
    border: 2px solid black !important;
}